@import "tailwindcss";

/* 
define color themes 
see https://stackoverflow.com/questions/79499818/how-to-use-custom-color-themes-in-tailwindcss-v4
*/

@theme {
  --color-transforma-red: #dc4144;
  --color-transforma-blue: #4198d6;
  --color-transforma-yellow: #f8ce47;
}

/*
general ig
*/

@layer base {
  html, body { height: 100%; }
  html { scroll-padding-top: 64px; }
  
  body { @apply bg-white text-black antialiased; }
  h1,h2,h3 { @apply tracking-tight; }
  a { @apply underline-offset-4; }
}

@utility container { @apply max-w-6xl mx-auto px-6; }
@utility btn { @apply inline-flex items-center rounded-full px-3 py-2 text-sm; }
@utility btn-outline { @apply border border-black text-black no-underline; }
@utility btn-solid { @apply bg-black text-white no-underline; }
@utility btn-red { @apply bg-transforma-red text-white no-underline; }
@utility card { @apply border border-gray-200 hover:border-black rounded-2xl p-5 transition-all duration-300 ease-in-out hover:scale-105; }
